// SASS Variables

$main-color: #0013FE;
$white: #fff;
$black: #000;
$gallery-count-color: #C4C4C4;
$badge-bg: #D5D5D5;
$card-desc-color: #1D2D35;
// Search and col background
$search-border-color: #E6ECF0;

// grid

$margin: 18px;